<!DOCTYPE html>

<html>
<head>
    <title>About</title>
      <link rel="icon" href="./images/valorant.png">
    
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <img class="potrait" src="./images/valorant_jett (1).jpg">
    <p>This website is made with MAPBOX and WEATHERAPI along with NODE js</p>
    <h4>{{title}} created by {{name}}</h4>
    </div>
    
</body>



</html>

{{>footer}}