<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="./images/valorant.png">

<link rel="stylesheet" href="./css/styles.css">
    </head>
    {{>header}}
    <body>
        <div class="main-content">
        </div>
        
        {{>footer}}
     </body>
</html>