<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
      <link rel="icon" href="./images/valorant.png">

    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This is {{name}} at your service!</p>
    </div>
    
    {{>footer}}
</body>



</html>