<!DOCTYPE html>

<html>
<head>
  <title>Home</title>
  <link rel="icon" href="./images/valorant.png">
    <link rel="stylesheet" href="./css/styles.css">
    
</head>

<body>
 <div class="main-content">
   
   {{>header}} 
   <h4>Use this site to get your weather</h4>

  <form>
    <input placeholder="Enter the address" >
    <button>Search</button>
  </form>
    <img id="weather-logo" src="https://i.pinimg.com/originals/77/0b/80/770b805d5c99c7931366c2e84e88f251.png" >
    <p id="message-1"></p>
    <p id="message-2"></p>
  </div> 
  {{>footer}}
  <script src="js/app.js"></script> 
</body>
</html>

